.card-product {
    width: 200px;
    min-height: 100px;
    max-height: 350px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
        width: 100%;
        min-height: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    button {
        border-radius: 20px; 
        border: none;
        background-color: rgb(35, 35, 35);
        color: rgb(255, 255, 255);
        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: rgb(123, 170, 242);
        }
    }
  }