.carInner {
    display: flex;
    gap: 50px;
}
.left {
    width: 500px;
}
.fullPrice {
    display: flex;
    font-size: 30px;
    margin-top: 50px;
    justify-content:center;
    margin-bottom: 30px;
}
.title {
    margin-bottom: 20px;
}